/* Global style */

* {
    font-family: rock salt, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Body */

body {
    background-color: #40282C;
}

/* Heading & Nav bar*/

header {
    text-align: center;
    padding: 20px;
    background-color: #D9D8D2;
    color: #40282C;
}

#question-sign {
        float: right;
        color: #BF8C6F;
}

/* Result text area */

#result-text {
    clear: both;
    text-align: center;
    margin-top: 50px;
    color: #D9D8D2;
}

/* Chioces */

.choices {
    text-align: center;
    color: #D9D8D2;
}

.choice {
    display: inline-block;
    font-size: 90px;
    padding: 20px 20px;
    border: 4px solid #D9D8D2;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.choice:hover {
    background-color: #BF8C6F;
    cursor: pointer;
    color: #40282C;
}

/* Separator line */

#separator-line {
    text-align: center;
    margin: auto;
    width: 80%;

}

/* Score area */

.score-area {
    margin: 25px auto;
    text-align: center;
    color: #D9D8D2;
}

#user-chioce, #user-avatar, #score-holder, #mysterion-chioce, #mysterion-avatar {
    display: inline-block;
    font-size: 40px;
}

#user-avatar, #user-chioce {
    color: #7C96A6;
}

#mysterion-avatar, #mysterion-chioce {
    color: red;
}


/* Reset button */

#reset {
    text-align: center;
    padding: 15px 15px;
    display: none;
}

#reset-button:hover {
    background-color: #8C5B49;
    cursor: pointer;
}

/* Rules pup-up */

#rules {
    display: none;
    text-align: center;
    font-size: 10px;
    background-color: #D9D8D2;
    color: #40282C;
    margin-top: 5px;
}

/* Pop-up result */
#popmodal {
    width: 100%;
    height: 100%;
}

/* Small screens */

@media(max-width: 530px) {
    .choice {
        font-size: 40px;
    }
    header {
        font-size: 10px;
    }
    nav {
        display: none;
    }

}

